# Ignore all the Python VENVs

venv/
env/
.env
.venv/
.venv-1/

# Remove too much big downloaded stuff :)
data/audio_files/
data/chroma_db/
data/audio_catalog.csv

# Ignore system cache and Python

__pycache__/
*.pyc
.DS_Store